<p>Olá <%= @resource.email %>!</p>

<p>Você solicitou um e-mail para mudar sua senha. Faça isso através do link abaixo:</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isso, ignore este e-mail.</p>
<p><b>Observação:</b> Sua senha não será alterada até você acessar o link acima e criar uma nova.</p>
